version: '3.8'

services:
  linkpoket-server:
    image: parkjihyeon/linkpoket-server:latest
    container_name: linkpoket-server
    env_file:
      - ${ENV_FILE}
    ports:
      - ${SPRING_PORT}:${SPRING_PORT}
    restart: always
